{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'ecom/css/cart.css' %}" rel="stylesheet">
<br>
<br><br>
<br><br>
<br>
{% if cartitem %}
<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="p-2">
              <h4>Shopping cart</h4>
              <div class="d-flex flex-row align-items-center pull-right"><span class="mr-1">Sort by:</span><span class="mr-1 font-weight-bold">Price</span><i class="fa fa-angle-down"></i></div>
          </div>
          {% for i in cartitem %}
          <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
              <div class="mr-1"><img class="rounded" src="{{i.product.img.url}}" width="70"></div>
              <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold">{{i.product.name}}</span>
              </div>


              <div class="quantity buttons_added">
                  <a href="{% url 'direcmemt' i.product.id %}">
                      <input type="button" value="-" class="minus">
                  </a>
                  <div class="d-flex flex-row align-items-center qty"><i class="fa fa-minus text-danger"></i>
                      <h5 class="text-grey mt-1 mr-1 ml-1">{{count}}</h5><i class="fa fa-plus text-success"></i>
                  </div>
                  <a href="{% url 'addcart' i.product.id %}">
                      <input type="button" value="+" class="plus">
                  </a>
              </div>
              <div>
                  <h5 class="text-grey">${{i.product.price}}</h5>
              </div>
              <div>
                <a href="{% url 'delete' i.product.id %}">
                  <h5 class="text-red"><i class="bi bi-trash"></i></h5>
                </a>
              </div>
          <div class="d-flex align-items-center"><i class="fa fa-trash mb-1 text-danger"></i></div>
          </div>
          {% endfor %}
          <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
            <input type="text" class="form-control border-0 gift-card" placeholder="discount code/gift card">
            <button class="btn btn-outline-warning btn-sm ml-2" type="button">Apply</button></div>
            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
              <button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button">Proceed to Pay</button>
            </div>
      </div>
  </div>
</div>
{% else %}
<div class="containerr">
  <div class="box-emty">
    <div class="container-fluid  mt-100">
      <div class="row">
       <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5>Cart</h5>
            </div>
            <div class="card-body cart">
             <div class="col-sm-12 empty-cart-cls text-center">
               <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
               <h3><strong>Your Cart is Empty</strong></h3>
               <h4>Add something to make me happy :)</h4>
               <a href="{" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a> 
             </div>
         </div>
         </div>
       </div>
      </div>  
     </div>
  </div>
</div>
{% endif %}
{% endblock %}