{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section id="gallery" class="gallery">
  <div class="container-fluid">
    <div class="row gy-4 justify-content-center">
      {% for i in product %}
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="{% url 'productdetails' i.id %}">
            <img src="{{i.img.url}}" class="img-fluid" alt="">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}